.floats {
    overflow: hidden;
}
.left, .right, .lefty {
    float: left;
}
.left, .right {
    height: 240px;
}
.left {
    width: 60%;
}
.right {
    width: 39%;
}
.top .lefty {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    float: left;
    height: 94px;
    width: 33.2%;
}
.top .lefty:last-child {
    border-right: none;
}
.bottom .lefty {
    border-right: 1px solid #fff;
    float: left;
    height: 146px;
    width: 66.5%;
}
.bottom .lefty:last-child {
    width: 33.3%;
}
