.item {
    position: relative;
}
.item > div {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    justify-content: center;
}
.item > p {
    background: orange;
    height: 70px;
    margin: 0;
    width: 75%;
}

.example1 .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 80px 80px auto 80px 80px;
    grid-template-rows: repeat(2, 140px);
    grid-auto-flow: column;
}

.example2 .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 140px);
    grid-auto-flow: column;
}


.example3 .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 140px);
    grid-auto-flow: column;
}

.example4 .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px auto 300px;
    grid-template-rows: 100px 400px 80px;
    grid-template-areas: "header header header"
                         "main main sidebar"
                         "footer footer copyright";
}
.example4 .item-1 {
    grid-area: header;
}
.example4 .item-2 {
    grid-area: main;
}
.example4 .item-3 {
    grid-area: sidebar;
}
.example4 .item-4 {
    grid-area: footer;
}
.example4 .item-5 {
    grid-area: copyright;
}

.example5 .grid-container, .example6 .grid-container {
    background: #ccc;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: repeat(2, 140px);
    grid-auto-flow: column;
}

.example5 .grid-container {
    align-items: start;
}

.example5 .item,
.example6 .item {
    background-color: #fff;
}
